@CHARSET "UTF-8";


td{
	text-align:center;
	font-size:20px;
}
input{
	height:30px;
}
.title{
	font-size:35px;
	font-weight:bold;
	color:#06c;
}
.text{
	width:100%;
}
.tip{
    color:red;
    font-size:15px;
    float:left;
  }
#checkcodeboxleft{
	margin-top:20px;
	height:20px;
	width:150px;
}
#checkcodeboxright{
	position:relative;
	top:-20px;
	left:163px;
	width:70px;
	height:25px;
}